    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      padding-top: 50px; /* Header 높이만큼 여백 추가 */
    }
    
    nav{
      height: 50px;
    }
    
    a {
      text-decoration: none;
    }
    
    img {
      max-width: 100%;
      height: auto;
    }
    
    .container {
      max-width: 1200px;
      padding: 0 20px;
      
    }
    
    /* 네비 */
    .navbar {
      background-color: #ffffff ;
      border-bottom: 5px solid #000000;
      top: 0;
      position: fixed;
      width: 100%;
      
    }
    
    .navbar-container {
      display: flex;
            justify-content: space-between;
      align-items: center; /* 세로 가운데 정렬 */
      margin-top: 10px;
    }
    
    .logo {
      font-size: 23px;
      font-weight: 700;
      color: #111827;
    }
    
    .nav-menu {
      display: flex;
      list-style: none;
      margin: 0;
    }
    
    .nav-item {
      margin: 0 1rem;
    }
    
    .nav-link {
      color: #6b7280;
      font-weight: 500;
      transition: color 0.3s;
    }
    
    .nav-link:hover {
      color: #111827;
    }
    
    .nav-link.active {
      color: #6d28d9;
    }
    
    .hover-nav {
      position: relative;
      display: inline-block;
    }
    
    .hover-nav-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 160px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
      z-index: 10;
      border-radius: 3px;
      transform: 0.3s;
      
      
    }
    
    .hover-nav:hover .hover-nav-content {
      display: block;
      transform: 0.3s;
    }
    
    .hover-nav-item {
      padding: 0.75rem 1rem;
      display: block;
      color: #6b7280;
      font-size: 0.875rem;
      transition: color 0.3s;
      
    }
    
    .hover-nav-item:hover {
      background-color: #f3f4f6;
      color: #111827;
    }
    
    
    
    .btn-primary:hover {
      background-color: #5b21b6;
    }
    
    .btn-lg {
      padding: 0.75rem 2rem;
      font-size: 1rem;
    }
    

    
    
    
   
    
    




    .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease;
    }
    .fade-in.active {
      opacity: 1;
      transform: none;
    }

    #typing{
      height: 10px;
    }

